


    <div class="container">

        <div id ="background" class="box">
                <div class="img1">
                    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/406871589_367901009157987_3174342345054933396_n.png?stp=dst-png_p206x206&_nc_cat=107&ccb=1-7&_nc_sid=510075&_nc_ohc=inFbU0n2pP0AX_92l0n&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRdmQbVMMHribc72VM1chz57PVA2dPuqUj9K2SbZ2e0Og&oe=6593D12D" alt="">
                    <div class="title">

                        <h2>Join Twitch today </h2> 

                    </div>
                 
                </div>
                
                <div class="login__sign_up">

                        <h3> <a href="#" > Login </a></h3>

                        <h3> <a href="#" class = "bb" > Sign Up </a></h3>

                        
                    </div>
                    
                    <div class="tr"> </div>

                    
                    <div class="content">
                            

                                <div class="user"> <span class="look_like"> Username </span>
                                
                                            <div>

                                                <input type="text" name=" " id="" placeholder=" Username"> 

                                            </div>
                                
                                </div>

                                <div class="user"> 
                                    <span class="look_like"> Password </span>
                                
                                    <div>
                                            
                                        <input type="password" name="" id=" " placeholder="Password">

                                    </div>
                        
                        </div>

                        <div class="user"> 
                            
                            <span> Confirm Password </span>
                                
                            <div>

                                <input type="password" name="" id="" placeholder=" Confirm Password">

                            </div>
                
                </div>


                <div class="date"> 
                            
                    <span> Date Of Birth  </span>
                        
                    <div class = " unfold">

                        <input type="month" name="" id="" placeholder=" Confirm Password" class="big">
                        <input type="day" name="" id="" placeholder="Day "  class = "small ">
                        <input type="year" name="" id="" placeholder="Year" class = "small ">

                    </div>
        
        </div>

        <div class="date"> 
                            
            <span> Phone Number </span>
                
            <div class = " unfold1">

                <input type="tel" name="" id="" placeholder=" Phone Numbers " class="big">
                
                <input type="year" name="" id="" placeholder="" class = "small ">

            </div>

</div>

            <div class="btn"> <button><i class="ri-mail-line"></i> Use email instead</button></div>

            <p> Twitch may use your phone number to call or send text messages with information regarding your account.</p>
            <p>By clicking Sign Up, you are agreeing to Twitch’s <a href="#" class=" indam"> Terms of Service </a> and are acknowledging our <a href="#" class="indam">Privacy Notice </a> applies.</p>
                    
        
        
                <Button class="btn1">  <h3> Sign Up</h3></Button>
        
        </div>
                    
                    
                    
                </div>


    </div>



